* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: #262725e4;
  --secondary-font: #262725c2;
  --primary: #f3450c;
  --primaryDarkerShade: #d66829;
  --secondary: #2997D6;
  --dark-font: #000;
  --input-border: #b8b6b672;  
  
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
}


/* -------------------- general styling: -------------------- */

body {
  color: var(--primary-font)!important;
  font-family: 'Poppins', sans-serif!important;
  font-size: 1.6rem!important;
  min-height: 100vh!important;
  letter-spacing: 1.1;
 
}

label {
  font-size: 1.6rem;
}

input {
  width: 100%;
  display: block;
  height: 50px;
  outline: none;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1.6rem;
  border: 1px solid var(--input-border);
}

p {
 margin-bottom: 0!important;
}

li {
  list-style: none;
}

button {
  font-family: 'Poppins', sans-serif!important;
}

input::placeholder {
  color: '#c8c7c6';
  font-size: 0.8em;
  letter-spacing: 1px;
}

input[type=submit] {
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--primary);
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-bottom: 0;
  outline: none;
  border: 1px solid  var(--input-border);
  border-radius: none;
}

form {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}
.nav-section {
  width: 100%;
}
.main-nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 10px;
  background-color: rgba(244, 244, 244, 0.971);
  border-bottom: 1px solid var(--input-border);
}

.container {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #ffffff; */

}



.form-container {
  max-width: 700px;
  min-height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  align-items: center;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#login-check {
  margin-right: 10px;
}

.eventsTagline {
  color: var(--primary)
}



.login-tagline  {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.login-tagline h1 {
  font-size:  calc(1.5em + 2vw);
}
.login-tagline h2 {
  font-size: calc(0.5em + 1vw);
  color: var(--secondary-font)
}

h1 {
  font-size: 2.4em;
}

/* Upcoming Events Styling: */
#upcoming-container {
  min-height: 100vh;
  
}







@media only screen and (min-width: 644px) {
  .form-container {
    width: 500px;
  }
 
}
@media only screen and (max-width: 643px) {
  .form-container {
    width: 80%;
  }
 
}
@media screen and (max-width: 350px) {
  body {
    font-size: 1.1rem;
    

  }
 
}
