#registered-events {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.registered-container {
  width: 500px;
  margin-bottom: 20px;
}

.event-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border: 1px solid var(--input-border);
  padding: 20px;
  border-radius: 4px;
  
}

.event-header-shadow {
  box-shadow: 2px 0px 8px 2px #c9c9c922;
}



.event-time {
  display: flex;
  align-items: center;
}


.fa-regular  {
  margin-right: 10px;
  color: var(--primary);
  font-weight: bold;
}

.fa-arrow-down {
  color: var(--primary);
}


/* EVENTS BODY */
.event-body {
  background-color: white;
  /* background-color: red; */
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  list-style-type: none;
  background-color: #f9f9f9;

}

.event-body-row {
  padding: 10px;
  border-bottom: 1px solid rgba(162, 162, 162, 0.222);
}

.event-body-row p:first-child {
  position: relative;
  color: black;
  font-weight: bold;
  letter-spacing: 0.9px;
  
}
.event-body-row p:nth-child(1)::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: var(--primary);
  
}

.event-body-row p:nth-child(2) {
  margin-top: 5px;
}

.flex-row {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgba(162, 162, 162, 0.222);
  justify-content: space-between;
  align-items: center;
}

.flex-row p:first-child {
  color: black;
  font-weight: bold;
  margin-right: 10px;

}


.flex-row .btn {
  border: none;
  color: white;
  padding: 5px 20px;
}

.flex-row .edit-button {
  background-color: rgba(128, 128, 128, 0.531);
}


.save-button {
  background-color: var(--primary);
}


.guest-left-item {
  display: flex;
  align-items: center;
}


.price-div {
  display: flex;
  align-items: center;
}


/* dynamic price class */
.total-cost {
  font-weight: bold;
  font-size: 24px;
}
.euro {
  color: var(--primary);
  margin-left: 2px;
}

